<section class="vertical-medium">
  <app-nav-back [text]="'Back to matches'"></app-nav-back>

  <h1 class="rubik-titles">Edit match</h1>

  <form class="form vertical-medium" [formGroup]="editMatchForm" (ngSubmit)="editMatch()">
    
    <app-form-control
      [control]="date"
      label="Date and hour"
      type="datetime-local"
      placeholder="Enter the date"
    ></app-form-control>

    <app-form-control
      [control]="location"
      label="Location"
      type="text"
      placeholder="Enter the location of the match"
    ></app-form-control>

    <app-form-control
      [control]="homeTeamGoals"
      label="Home team goals"
      type="number"
      placeholder="Goals"
    ></app-form-control>

    <app-form-control
      [control]="awayTeamGoals"
      label="Away team goals"
      type="number"
      placeholder="Goals"
    ></app-form-control>

    <div>
      <button type="submit" class="btn btn-primary rubik-buttons fill-content">Update</button>
    </div>
  </form>
</section>
