<div class="form-and-button">
  <div class="text-align-right">
    <button class="btn btn-terciary" [routerLink]="['/login']">Log in</button>
  </div>
  <section class="vertical-large">
    <h1 class="rubik-titles">Sign up</h1>
    <form class="form vertical-medium" [formGroup]="signUpForm" (ngSubmit)="signUp()">

      <app-form-control
        [control]="name"
        label="Name"
        type="text"
        placeholder="Enter your name"
      ></app-form-control>
  
      <app-form-control
        [control]="email"
        label="Email"
        type="email"
        placeholder="Enter your email"
      ></app-form-control>

      <app-form-control
        [control]="password"
        label="Password"
        type="password"
        placeholder=""
      ></app-form-control>
  
      <div class="form-control vertical-extra-small">
        <label class="rubik-labels" for="gender">Gender</label>
        <select class="input input-structure" id="gender" formControlName="gender">
          <option class="selector-option selector-option-structure" value="" disabled selected>Select Gender</option>
          <option class="selector-option selector-option-structure" value="male">Male</option>
          <option class="selector-option selector-option-structure" value="female">Female</option>
        </select>
      </div>
      
      <app-form-control
        [control]="birthdate"
        label="Birthdate"
        type="date"
        placeholder=""
      ></app-form-control>
      
      <button type="submit" [disabled]="signUpForm.invalid" class="btn btn-primary">Sign up</button>
      
    </form>
  </section>
</div>
