<div class="vertical-medium">
  <h1 class="rubik-titles">My Leagues</h1>
  <ul class="vertical-medium fill-content" *ngIf="(leagueData$ | async)?.length; else noLeagues">
    <li class="fill-content" *ngFor="let league of leagueData$ | async">
      <app-navigation-card [league]="league"></app-navigation-card>
    </li>
  </ul>

  <ng-template #noLeagues>
    <p class="rubik-secondary">You're not part of any leagues yet.</p>
  </ng-template>
</div>

<div class="shadow-container bottom-fixed">
  <button class="btn btn-primary horizontal-layout fill-content" [routerLink]="['/my-leagues', 'create']">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
      <path d="M19.5 12.998H13.5V18.998H11.5V12.998H5.5V10.998H11.5V4.99805H13.5V10.998H19.5V12.998Z" fill="white" />
    </svg>
    <p>Create new league</p>
  </button>
</div>