<div class="form-and-button">
  <div class="text-align-right">
    <button class="btn btn-terciary" [routerLink]="['/register']">Sign up</button>
  </div>
  <section class="form-and-title vertical-large">
    <h1 class="rubik-titles">Login</h1>
    <form class="form vertical-medium" [formGroup]="loginForm" (ngSubmit)="login()">
      <app-form-control
        [control]="email"
        label="Email"
        type="email"
        placeholder="Enter your email"
      ></app-form-control>

      <app-form-control
        [control]="password"
        label="Password"
        type="password"
        placeholder=""
      ></app-form-control>
  
      
      <button class="btn btn-primary" type="submit">Login</button>
      
    </form>
  </section>
</div>