<section>
  <button (click)="toSignUp()">Sign up</button>
</section>
<section>
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-control">
      <label class="rubik-labels" for="email">Email: </label>
      <input class="input input-structure" type="email" [formControl]="email" />
    </div>

    <div class="form-control">
      <label class="rubik-labels" for="password">Password: </label>
      <input class="input input-structure" type="password" [formControl]="password" />
    </div>

    <button type="submit">Login</button>
  </form>
</section>