<ul class="vertical-extra-small">
  <li class="match-card match-card-structure" *ngFor="let match of matches$ | async">
    <p class="rubik-secondary fill-content center-text">{{match.date || 'Date to be defined'}}</p>
    <div class="teams-score">
      <p class="center-text">Local team TBD</p>
      <div class="score">
        <p class="rubik-score">{{match.homeTeamGoals || 'X'}}</p>
        <p class="rubik-score">-</p>
        <p class="rubik-score">{{match.awayTeamGoals || 'X'}}</p>
      </div>
      <p class="center-text">Away team TBD</p>
    </div>
    <p class="rubik-secondary">{{match.location || 'Location to be defined'}}</p>
    <button class="btn btn-secondary fill-content">Update info</button>
  </li>
</ul>
