<section class="vertical-medium">

  <app-nav-back [text]="'Back to my profile'"></app-nav-back>

  <h1 class="rubik-titles">Edit Profile</h1>

  <form class="form vertical-medium" [formGroup]="editProfileForm" (ngSubmit)="edit()">
    <app-form-control
        [control]="name"
        label="Name"
        type="email"
        placeholder="Enter your name"
      ></app-form-control>
  
    <app-form-control
      [control]="email"
      label="Email"
      type="text"
      placeholder="Enter your email"
    ></app-form-control>

    <div class="form-control vertical-extra-small">
      <label class="rubik-labels" for="gender">Gender</label>
      <select class="input input-structure" id="gender" formControlName="gender">
        <option class="selector-option selector-option-structure" value="" disabled selected>Select Gender</option>
        <option class="selector-option selector-option-structure" value="male">Male</option>
        <option class="selector-option selector-option-structure" value="female">Female</option>
      </select>
    </div>

    <app-form-control
        [control]="birthdate"
        label="Birthdate"
        type="date"
        placeholder=""
      ></app-form-control>

    <div class="fill-content">
      <button type="submit" [disabled]="editProfileForm.invalid" class="btn btn-primary rubik-buttons fill-content">Update</button>
    </div>
  </form>
</section>