<section class="vertical-medium">
  <a [routerLink]="['/profile']">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M15.41 16.59L10.83 12L15.41 7.41L14 6L7.99995 12L14 18L15.41 16.59Z" fill="white" />
    </svg>
    <button>Back to profile</button>
  </a>

  <h1 class="rubik-titles">Edit Profile</h1>

  <form class="form vertical-medium" [formGroup]="editProfileForm" (ngSubmit)="edit()">
    <div class="form-control vertical-extra-small">
      <label class="rubik-labels" for="name">Name</label>
      <input class="input input-structure" type="name" [formControl]="name" placeholder="Enter your name" />
    </div>

    <div class="form-control vertical-extra-small">
      <label class="rubik-labels" for="email">Email</label>
      <input class="input input-structure" type="email" [formControl]="email" placeholder="Enter your email" />
    </div>

    <div class="form-control vertical-extra-small">
      <label class="rubik-labels" for="gender">Gender</label>
      <select class="input input-structure" id="gender" formControlName="gender">
        <option class="selector-option selector-option-structure" value="" disabled selected>Select Gender</option>
        <option class="selector-option selector-option-structure" value="male">Male</option>
        <option class="selector-option selector-option-structure" value="female">Female</option>
      </select>
    </div>

    <div class="form-control vertical-extra-small">
      <label class="rubik-labels" for="birthdate">Birthdate</label>
      <input class="input input-structure" id="birthdate" type="date" formControlName="birthdate" />
    </div>

    <div class="fill-content">
      <button type="submit" class="btn btn-primary rubik-buttons fill-content">Update</button>
    </div>
  </form>
</section>