<div class="vertical-medium">
  <h1 class="rubik-titles">My profile</h1>
  <div class="card info-card">
    <div *ngIf="userData$ | async as userData" class="vertical-medium">
      <div class="vertical-extra-small">
        <h3 class="rubik-labels">Full name</h3>
        <p>{{userData.name}}</p>
      </div>
      <div class="vertical-extra-small">
        <h3 class="rubik-labels">Email</h3>
        <p>{{userData.email}}</p>
      </div>
      <div class="vertical-extra-small">
        <h3 class="rubik-labels">Date of birth</h3>
        <p>{{userData.birthdate}}</p>
      </div>
      <div class="vertical-extra-small">
        <h3 class="rubik-labels">Gender</h3>
        <p>{{userData.gender | titlecase}}</p>
      </div>
    </div>

    <a class="icon-btn btn-secondary" [routerLink] = "['/profile/edit']">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
        <path
          d="M10.0535 19.1864L21.8105 19.1864L21.8105 21.1864L3.81049 21.1864L3.81049 16.9434L13.7105 7.04336L17.9525 11.2864L10.0535 19.1864ZM15.1235 5.62936L17.2455 3.50836C17.433 3.32089 17.6873 3.21558 17.9525 3.21558C18.2177 3.21558 18.472 3.32089 18.6595 3.50836L21.4885 6.33636C21.5815 6.42924 21.6552 6.53952 21.7055 6.66092C21.7559 6.78232 21.7818 6.91245 21.7818 7.04386C21.7818 7.17528 21.7559 7.30541 21.7055 7.4268C21.6552 7.5482 21.5815 7.65849 21.4885 7.75136L19.3665 9.87236L15.1235 5.62936Z"
          fill="white" />
      </svg>
    </a>
  </div>

  <div class="fill-content">
    <button class="btn btn-secondary rubik-buttons fill-content" (click)="logout()">Logout</button>
  </div>
</div>