*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: $bg-color-default;
  color: $text-color-default;
}

body {
  margin: 1.75rem;
}

h1,
h3,
p,
a,
button,
select,
option {
  all: unset;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  all: unset;

  &::placeholder {
    all: unset;
  }
}

.router-outlet-wrapper {
  width: 100%; 

  ::ng-deep app-matches-list {
    width: 100%; 
  }
}

