html{
  background-color: $bg-color-default;
  color: $text-color-default;
}
body{
  margin: 1.25rem;
}

h1{
  all: unset;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none; 
}

input {
  all: unset;

  &::placeholder{
    all: unset;
  }
}