@mixin center() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-component {
  @include center();
}

.tabs-structure {
  @include center();
  flex-direction: row;
  gap: 0;
  padding: 0.25rem;
  max-width: 40rem;
}

.tab-structure {
  display: inline-flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  padding: 1rem 2rem;
}

.icon-tab-structure {
  @include center();
  height: 100%;
  padding: 0.875rem;
}

.form-and-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  align-self: stretch;
  max-width: 40rem;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  width: 100%;
  box-sizing: border-box;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  align-self: stretch;
  width: 100%;
  box-sizing: border-box;
}

.input-structure {
  padding: 1rem 1.5rem;
  width: 100%;
  box-sizing: border-box;
}