@mixin center() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin separation($gap, $direction) {
  display: flex;
  flex-direction: $direction;
  align-items: flex-start;
  gap: $gap;
  align-self: stretch;
}

.vertical-small {
  @include separation(0.5rem, column);
}

.vertical-medium {
  @include separation(1.5rem, column);
}

.vertical-large {
  @include separation(3rem, column);
}

.center-component {
  @include center();
}

.fill-content{
  width: 100%;
}

.tabs-structure {
  @include center();
  flex-direction: row;
  gap: 0;
  padding: 0.25rem;
  max-width: 40rem;
  margin-bottom: 2rem;
}

.tab-structure {
  display: inline-flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  padding: 1rem 2rem;
}

.icon-tab-structure {
  @include center();
  height: 100%;
  padding: 0.875rem;
}

.form-and-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8rem;
  margin: 0 auto;
  max-width: 40rem;
}

.form {
  width: 100%;
  box-sizing: border-box;
}

.form-control {
  width: 100%;
  box-sizing: border-box;
}

.input-structure {
  padding: 1rem 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.selector-option-structure{
  padding: 1rem 1.5rem;
}

.card-structure {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.btn {
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  text-align: center;
}