@mixin center() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin separation($gap, $direction) {
  display: flex;
  flex-direction: $direction;
  align-items: stretch;
  gap: $gap;
  align-self: stretch;
}

@mixin card($align) {
  display: flex;
  justify-content: space-between;
  align-items: $align;
  align-self: stretch;
}

.vertical-extra-small {
  @include separation(0.5rem, column);
}

.vertical-small {
  @include separation(1rem, column);
}

.vertical-medium {
  @include separation(1.5rem, column);
}

.vertical-large {
  @include separation(3rem, column);
}

.horizontal-medium {
  @include separation(1.5rem, row);
}

.horizontal-small {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  align-self: stretch;
  justify-content: space-between;
}

.horizontal-small-center {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  justify-content: space-between;
}

.horizontal-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.teams-score {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}

.score {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.team-name-right {
  text-align: right;
}

.team-name-left {
  text-align: left;
}

.center-component {
  @include center();
}

.fill-content {
  width: 100%;
}

.center-text {
  text-align: center;
}

.tabs-structure {
  @include center();
  flex-direction: row;
  gap: 0;
  padding: 0.25rem;
  max-width: 40rem;
  margin-bottom: 2rem;
}

.tab-structure {
  display: inline-flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  padding: 1rem 2rem;
}

.icon-tab-structure {
  @include center();
  height: 100%;
  padding: 0.875rem;
}

.sub-tabs-structure {
  display: flex;
  gap: 0;
  width: 100%;
}

.sub-tab-structure {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}

.sub-tabs-wrapper {
  @include separation(0.5rem, column);
  padding: 0.25rem;
}

.form-and-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8rem;
  margin: 0 auto;
  max-width: 40rem;
}

.form {
  width: 100%;
  box-sizing: border-box;
}

.form-control {
  width: 100%;
  box-sizing: border-box;
}

.input-structure {
  padding: 1rem 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.selector-option-structure {
  padding: 1rem 1.5rem;
}

.info-card {
  @include card(flex-start);
  padding: 1.5rem;
}

.clickable-card {
  @include card(center);
  padding: 1.5rem;
}

.match-card-structure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
  padding: 1.5rem;
}

.btn {
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  width: 100%;
}

.icon-btn {
  @include center();
  padding: 0.5rem;
}

//TABLE
.table {
  padding: 0.75rem;
  width: 100%;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-cell {
  padding: 1rem 0.75rem;
}

.table-cell.first-column {
  min-width: 32px;
  text-align: left;
}

.table-cell.last-column {
  min-width: 32px;
  text-align: center;
}

.bottom-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  width: 100%;
  z-index: 900;
}

//Modal
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  max-width: 600px;
  width: 90%;
  z-index: 1000;
}

.modal-bottom {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 600px;
  width: 90%;
  z-index: 1000;
}

.modal-bottom-content {
  padding: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.badge{
  padding: 0.5rem 0.75rem;
}

.icon-container {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1100;
}