//COLORS
$bg-color-default: #1E1E1E;
$bg-color-light: #2A2829;
$bg-color-lighter: #515151;

$primary-color-default: #2846DC;
$primary-color-dark: #2833A5;

$text-color-default: #fff;
$text-color-light: #BFBFBF;
$text-color-blue: #1B1F50;

$success-color-default: #76DA44;
$success-color-light: #314A44;
$error-color-default: #E23636;
$error-color-light: #452323;

